.container-posts{
  display: flex;
  background-color: rgb(212, 212, 212);
  padding: 5px;
  width: 100%;
  border-radius: 10px;
  overflow-x: auto;
}
.active-header-post img{
  border: 2px solid black !important;
}
.header-post img{
  border: 2px solid transparent;
}
.navigation-posts{
  display: flex;
  margin: auto;
}
.container-card-pet{
  margin-right: 1rem;
}