.container-register{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.container-inputs-register{
  width: 40rem;
  border-radius: 10px;
  padding: 10px 15px;

  background: #ECE9E6; 
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6); 
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); 
}
@media screen and (max-width: 900px) {
  .container-inputs-register{ width: 70%; }
  .button-media{ width: 50%; }
}
@media screen and (max-width: 700px) {
  .img-left{ display: none; }
  .container-inputs-register{ width: 90%; }
  .button-media{ width: 90%; }
}